@model poms_website_project_2._0.Models.LearnerModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LearnerModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lrn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lrn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearnerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearnerNavigation.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
